@import 'src/partials/colors';

.genre-picker {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: $alabaster;
  color: $citron;

  h2 {
    font-size: 24px;
    color: $olive_drab;
  }
}

.genre-list {
  width: 25%;
  margin: 0 auto;
}

.clear-fix {
  display: block;
  clear: left;
}

