$black_kombu_green: #37392E;
$olive_drab       : #6A7C18;
$citron           : #97AF28;
$timberwolf       : #DBDDCE;
$alabaster        : #EBEDE3;

$font: $black_kombu_green;
$background-primary: $alabaster;
$background-secondary: $citron;

