@import 'partials/reset';
@import 'partials/colors';

// App-level resets
html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  background: $timberwolf;
}

.home {
  width: 80%;
  margin: 50px auto;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: $black_kombu_green;
}
